*{
    margin: 0;
    padding: 0;
}

body {background: black;}
canvas {display:block;}


body{
    font-family: Roboto;
  /*  background-color: #fcee09;*/
  /*  background-image: url(Images/bgCyberpunk.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
  }
  
  .tete{
  /*  color: rgb(1, 134, 23);*/
    color: white;
    margin-left: 10px;
    position: fixed;
    text-decoration: none;
    z-index: 5;
  }
  
  /*.imgBackground {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 200px;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    z-index: 0;
  }*/
  
  .linkOne{
    margin-left: 14px;
    margin-bottom: 8px;
  }
  
  .twitter{
    width: 39.34375px;
    height: 32px;
  }
  
  .billeterie{
    width: 56.75px;
    height: 47.25px;
  }
  
  .links{
    position: fixed;
    flex-direction: column;
  /*  top: 220px;*/
    bottom: 15px;
    right: 15px;
  }
  
  .compteurDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ltr;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    background-image: url(Images/brasCroises.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
    z-index: 1;
  }
  
  .text {
    color: black;
    font-size: 25px;
    order: 2;
    border-radius: 5px / 5px;
    /*border: 2px #424242a6 solid;*/
    z-index: 1;
  }
  
  .textCompteur {
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-align: center;
  }
  
  .sousTitre{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  
  .photo{
    z-index: 2;
  }
  
  a {
    color: black;
  }
  
  .dateTMCUP {
    text-align: center;
  }
